.timer-container {
    font-family: Didot, serif;
    display: flex;
    gap: 5px;

}

.timer-component {
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid rgb(221, 221, 221);
    text-align: center;
    min-width: 100px;

}

.timer-value {
    font-size: 14pt;
    font-weight: 600;

}

.timer-unit {
    font-size: 8pt;
}