.zeitplan-container {

    /* display: flex; */
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
	hyphens: auto; 
	text-align: justify;
    height: 100vh;

}

.zeitplan-image {

    width: 100%;

}
